
*{
 margin: 0;
 box-sizing: border-box;
 padding: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*******Top Nav*****/
.nav-container{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
}
/* styling search bar */ 
.search {
    border-radius: 20px;
    width: 450px;
    height: 40px;
    border: 1px solid #797979;
    display: flex;
    justify-content: flex-start;
}
.btn{
 border-top-style: hidden;
 border-bottom-style: hidden;
 border-left-style: hidden;
 border-right-style: hidden;
 background: none;
 outline: none;
}
.fa-search {
  padding-left: 15px;
  padding-right: 15px;
  align-self: center; 
}

.search input {   
 outline: none;
 border-top-style: hidden;
 border-bottom-style: hidden;
 border-left-style: hidden;
 border-right-style: hidden;

} 
span {
    border-radius: 50%;
    background-color: rgb(40, 150, 169);
    color: white;
    padding: 10px;
    font-size: 12px;
    font-weight: bolder;
}
.red {
    border-radius: 50%;
    background-color: red;
    width:2px;
    height: 2px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    margin-left: -8px;
    margin-top: -5px;
    
}
hr{
    border: 1px solid grey;
    padding-top: 10px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}
nav a{
    text-decoration: none;
    color: #1f1f1f;
}
  /*******Bottom Nav*****/
  .bottomnav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    width: 95%;
    height: 50px;
    margin: auto;
  }
  
  .bottomnav li{
    list-style: none;
    margin-left: 15px;
    font-size: 15px;
    cursor: pointer;
   
}
/*******Main******/


.bg-container{
    background: url('img/udemy-background-1.jpg');
    height: 400px;
    background-position: fixed;
}
.card-content{
    position: relative;
    width: 450px;
    background: #fff;
    padding: 25px;
    left: 90px;
    top: 60px;
}

 .card-content h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 45px;
}
.card-content p{
    margin-top: 10px;
    font-size: 18px;
    width: 380px;
}
/*******Course Ads*****/

.sub-section{
    padding: 20px 0;
    max-width: 98%;
    margin: auto;
}
.courses-ads h2{
    font-size: 33px;
    font-weight: bolder;
    color: rgb(40, 40, 40);
    margin-bottom: 30px;
}
.sub-ads{
    display: flex;
    margin-bottom: 10px;
}
.sub-ads h3{
    font-size: 22px;
    font-weight: bolder;
    color: rgb(40, 40, 40);
}
.sub-ads a{
    margin-left: 15px;
    color: rgb(40, 150, 169);
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 6px;
}
.sub-ads2{
    display: flex;
    margin-bottom: 10px;
}
.new-tag{
    font-size: 12px;
    padding: .3rem .7rem;
    background-color: #99dbaa;
    color: #02300d;
    white-space: nowrap;
    font-weight: bolder;
    text-align: center;
    border-radius: 10%;
}
.sub-tag{
    font-size: 13px;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 5px;
}
/******  Main Ads ****/
.ad1{
   padding-bottom: 20px;
   cursor: pointer;
}

.ad1 img{
    border-radius: 3%;
    width: 240px; 
    height: 150px;

}
  
.Main-Ads{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    margin-bottom: 40px;
}
.ad1 h4{
   font-size: 18px;
   color: rgb(40, 40, 40);
   font-weight: 700;
} 
.ad1 p{
    font-size: 12px;
    font-weight: 300;
}

.rating{
    display: flex;
    margin-top: 5px;
    
}
.rate-icon{
    margin-left: 10px;
    font-size: 11px;
}
.fa-star{
    color: rgb(235, 155, 6);
    
}
.fa-star-half-alt{
    color: rgb(235, 155, 6);

}
.rate1{
    font-size: 14px;
    font-weight: bolder;
    color: rgb(211, 143, 17);
    margin-top: -2px;
}
.rate2{
    font-size: 10px;
    background-color: #ffe799;
    width: 85px;
    padding: 3px 20px 3px 15px;
    text-align: center;
    border-radius: 7%;
    color: black;
    font-weight: bolder;
    
}
h6{
    font-size: 19px;
    color: black;
    padding: 3px 0;
}
/*********Modal pop-up********/

.modal{
    height: auto;
    width: 280px;
    background-color: white;
    padding: 20px 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 4px 4px 4px 4px rgb(53, 52, 52);
    margin-top: -100px;
    margin-left: 220px;
    visibility: hidden;   
}
.modal-2{
    height: auto;
    width: 280px;
    background-color: white;
    padding: 20px 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 4px 4px 4px 4px rgb(53, 52, 52);
    margin-top: -100px;
    margin-left: -220px;
    visibility: hidden;   
}
.modal-pop-up h1{
    margin-top: 20px;
}
.modal-pop-up h1{
   color: black;
   margin-bottom: 10px;
   margin-top: 40px;
}
.list{
    display: flex;
    margin-top: 10px;

}
.list p{
    margin-left: 10px;
}
.cart {
    width: 150px;
    height: 40px;
    background-color: red;
    border: none;
    padding: none;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
}
.rate-content{
    margin-top: 10px;
}
.ad1:hover .modal{
    visibility: visible;
}
.ad1:hover .modal-2{
    visibility: visible;
}
    